.less-demo{
  background: white;
  margin: 12px;
  padding: 12px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  overflow: auto;
  .wrap{
    background: white;
  }
}

@import "mixins";

@var: 50vh/2;
#header{
  background: gray;
  width: calc(50% + (@var - 20px));
  .border;
  .padding();
  #color;
  #font-size();
}

